.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 900px;
  margin: 50px 20vw;
  gap: 10px;
}
@media print {
  * {
    font-size: 0.75rem;
  }

  .mainContainer {
    margin: 0;
    padding: 0;
  }
}
