.mainContainer {
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  min-width: 900px;
  margin: 50px 20vw;
  gap: 10px;
}
@media print {
  * {
    font-size: 0.75rem;
  }

  .mainContainer {
    grid-template-columns: 450px 450px;
    grid-auto-rows: auto;
    margin: 0;
    padding: 0;
  }
  .generalInfo {
    grid-column: 1/3;
  }
  .techInfo {
    grid-column: 1/2;
  }
  .edInfo {
    grid-column: 2/3;
  }
  .projActInfo,
  .misInfo,
  .intLangInfo,
  .cerInfo {
    grid-column: 1/3;
  }
  button {
    display: none;
  }
}
