.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #aee5f953;
  padding: 3px 0px 3px 10px;
  margin: 0px 0px 5px 0px;
}
button {
  width: 100px;
  height: 100%;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}
.head {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 5px 15px 0px 15px;
}
.headLeft {
  width: auto;
}
.headRight {
  color: #595959;
}
.org {
  font-size: 1.4rem;
  margin: 10px 10px 5px 15px;
  font-style: italic;
  font-weight: bold;
}

span {
  font-size: 1.5rem;
}

.detail {
  font-size: 1.1rem;
  margin: 0px 10px 0px 15px;
}
.url {
  height: auto;
  font-weight: bold;
  margin: 0px 10px 0px 15px;
}
ul {
  margin: 2px 10px 7px 15px;
}
@media print {
  .topic {
    border-bottom: 1px solid grey;
    font-size: 24px;
  }
  .head,
  .org {
    font-size: 22px;
  }
  .detail {
    font-size: 20px;
  }
  .url {
    /* display: none; */
    font-size: 20px;
  }
}
@media only screen and (max-width: 932px) {
  .topic {
    font-size: 1.5rem;
  }
  .head {
    font-size: 1.3rem;
  }
  .url {
    font-size: 0.5rem;
  }
  .detail {
    font-size: 0.6rem;
    margin: 0px 10px 5px 15px;
  }
}
