.generalInfo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.name {
  font-weight: bold;
  font-size: 4rem;
}
.nickname {
  font-size: 1.4rem;
}
a {
  color: black;
}
@media print {
  .topic {
    border-bottom: 1px solid grey;
  }
  .generalInfo {
    grid-column: 1/3;
  }
}
