body {
  margin: 50px 15vw 50px 15vw;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media print {
  body {
    margin: 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin: 0px;
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  #root {
    margin: 10px;
  }
}
